html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

*,
body,
html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    height: 100vh
}

.screen-reader,
.ajax-loader {
    display: none
}